*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.body{
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
align-items: center;
    
}
.container{
    max-width: 450px;
    width: 100%;
    box-shadow: 5px 5px 5px 7px rgb(221, 220, 220);
}
form{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 240, 240);
}
.screen{
    background-color: rgb(241, 240, 240);
}
#screen1{
    width: 100%;
    border: none;
outline: none;
padding: 40px 20px;
padding-bottom: 15px;
text-align: right;
}
#screen{
    width: 100%;
    border: none;
outline: none;
padding: 0px 20px;
padding-bottom: 30px;
text-align: right;
}

.buttons{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    column-gap: 20px;
    row-gap: 10px;
    padding: 10px;
    background-color: rgb(241, 240, 240)
}
.buttons1{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto ;
    column-gap: 20px;
    padding: 0px 10px;
    padding-bottom: 10px;
    background-color: rgb(241, 240, 240);
}
#butt{
    padding: 5px 0px;
    border-radius: 20%;
    outline: none;
    border: none;
    background-color: rgb(221, 228, 233);
    box-shadow: 1px 2px 2px 1px  rgb(211, 211, 211);
}
#butt:hover{
    background-color: rgb(196, 228, 228);
}
#butt:active{
    box-shadow: 0px 0px 0px 0px;
}



@media only screen and (max-width:460px) {
    .container{
     height: 100%;
    }
    .screen{
        background-color: white;
        padding: 50px 0px;
    }

    .buttons{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        text-align: center;
        column-gap: 20px;
        row-gap: 15px;
        padding: 5px;
    }
    .buttons1{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto ;
        column-gap: 20px;
        padding: 10px 5px;
        padding-bottom: 5px;
    }
}